body{
    margin: 0%;
    padding: 0%;
}

.nav{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 877px;
}


.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

/*-------------------------- choice --------------------------*/


.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
}

.checkbox.checked {
    background-color: #000;
}


input[type="checkbox"] {
    display: none;
}

.choice label,
.label input {
    display: block;
    margin-bottom: 5px;
}

/*-------------------------- name-surname --------------------------*/

.name-surname label,
.name-surname input {
    display: block;
    margin-bottom: 5px;
}

.cash-choice label,
.cash-choice input {
    display: block;
    margin-bottom: 5px;
}
input[type="checkbox"] {
    display: none;
}

.name-surname input {
    color: gray;
}

.name-surname input:focus {
    color: black;
}

/*-------------------------- cash --------------------------*/

.cash-choice{
    margin-left: -50px;
}