body{
    
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    width: 100%;
    height: 897px;
}

.intro{
    padding: 10px;
    background: #f00;
}

.intro h2{
    text-align: center;
}

nav{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/*------------------------------kontent----------------------------------*/


.card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card .imgBx{
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url(house.jpg);
    background-size: cover;
}

.card .imgBx::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 53%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.card .imgBx::after{
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.card .content{
    position: relative;
    width: 100%;
    height: 150px;
    background: #232949;
    border-radius: 15px;
    border-top-left-radius: 0;
    
}

.card .content ul{
    color: #fff;
}

.card .content .info{
    position: absolute;
    top: -80px;
    left: 0;
    height: 70px;
    width: 50%;
    background: #232949;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
}

.card .content .info::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}

.card .content .info::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #232949;
}

.card .content .info p{
    position: relative;
    background: #fff;
    padding: 10px 20px;
    margin: 20px 20px; 
    display: block;
    border-radius: 5px;
    color: #333 ;
    font-weight: 600;
    text-decoration: none;
    font-size: small;
}

/*------------------------------Animacja----------------------------------*/

.contentBX {
    position: absolute;
    padding: 20px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto; 
    background: linear-gradient(45deg,#fe0061,#ffeb3b);;
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
    transition: height 0.8s ease, opacity 0.8s ease;
    
}

.card:hover .contentBX {
    display: block;
    animation: rotateAnimation 0.8s ease;
    height: 100%;
    opacity: 1;
}

@keyframes rotateAnimation {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0);
    }
}

.contentBX h2 {
    font-size: 24px;
    color: #fff;
}

.contentBX p {
    font-size: 16px;
    color: #fff;
}


